<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= SiteName %></title>
  <link rel="stylesheet" href="/css/root.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/foot.css">
  <link rel="stylesheet" href="/css/waves.css">
  <meta name="theme-color" content="var(--bg-1)">
  <meta name="description" content="<%= SiteName %> - The discord bot for your server!">
  <meta name="twitter:card" value="summary">
  <meta name="twitter:title" content="<%= SiteName %>">
  <meta name="twitter:description" content="The discord bot for your server!">
  <meta name="twitter:image" content="https://github.com/dxy-Seer/dbos/blob/main/public/img/logo.PNG?raw=true">
  <meta property="og:title" content="<%= SiteName %>">
  <meta property="og:description" content="The discord bot for your server!">
  <meta property="og:image" content="https://github.com/dxy-Seer/dbos/blob/main/public/img/logo.PNG?raw=true">
  <link rel="shortcut icon" href="https://github.com/dxy-Seer/dbos/blob/main/public/img/logo.PNG?raw=true" type="image/x-icon">
</head>
<body>
  <div class="header">
    <div class="inner-header">
      <div class="title">
        <br>
        <br>
        <img class="alive" src="https://github.com/dxy-Seer/dbos/blob/main/public/img/logo.PNG?raw=true">
        <h1><strong><%= SiteName %></strong></h1>
        <h3>The simple yet powerful open source discord bot!</h3>
        <br>
      </div>
      <div class="content">
        <a href="/s/join">
          <div class="roundedButton accentColor1">
            Support server
          </div>
        </a>
        <a href="/api/all/info">
          <div class="roundedButton accentColor1">
              Info/Stats
          </div>
        </a>
        <br>
        <br>
        <a href="/api/git">
          <div class="roundedButton github">
            Github
          </div>
        </a>
        <div class="container">
          <a class='roundedButton dbtn' href="/inv/bot">
            Invite <%= SiteName %>!
          </a>
        </div>
      </div>
      <br>
      <br>
    </div>
    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="5" fill="var(--bg-2)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="var(--bg-1)" />
            </g>
        </svg>
    </div>
  </div>
  <div class="wcontent">
    <br>
    <br>
    <p></p>
  </div>
  <div class="footer">
    <div id="button"></div>
    <div id="container">
      <div id="cont">
      <div class="footer_center">
          <h3>© Wezacon.com</h3>
      </div>
      </div>
  </div>
  </div>
  </body>
  </html>
  